@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

$couleur1 : #d88e8e;
$couleurbg : rgb(107, 104, 104);
$couleurmodal : rgb(228, 203, 228);
$couleur2: #000;
$couleuraccordeon: #444;

.container{
  margin-top: 70px;
}

p{
  color:$couleur1;
  font-size: 20px;
}

h1{
  font-size: 18px;
}

h2{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

h4{
  font-size: 15px;
}

th{
  font-size: 20px;
}

form .error {
    color: $couleur1;
}

tr,td,th{
  border: solid 1px $couleurbg;
}

.margintop{
  margin-top: 10px;
}

body{
  font-weight: 800;
    background-color: $couleurbg;
    font-family: 'Montserrat', sans-serif;
}

.custom{
    margin: 50px 0;
}

.modal{
    top: 25%;
    bottom: 25%; 
    left: 35%; 
    max-width: 500px;
    max-height: 250px;
    background-color: $couleurmodal;
}

label{
  font-size: 20px;
}

button{
  min-width: 300px;
  min-height: 50px;
  border-radius: 10px;
}

button:hover{
  background-color: $couleur1;
}

a{
  text-decoration: none;
  color: $couleur2;
}

a:hover{
  text-decoration: none;
  color: $couleur1;
}

.accordion {
    background-color: #eee;
    color: $couleuraccordeon;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-weight: 800;
  }
  
  #accordeon{
    margin: 30px 0;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  
  .modal a.close-modal {
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
 }
